body{
    background-color: #b7c1de;
}

header{
    background-color: #eb14aa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 10px #26f51f solid;
    padding: 20px;
    margin: 30px;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: Verdana,monospace;
    color: #000000;
}

h1{
    font-size: 36pt;
}

h3 {
    font-size: 24pt;
}

p {
    font-size: 12pt
}

main{
    background-color: #FFFFFF;
    border-radius: 10px;
}

aside{
    background-color: #26f51f;
    border-radius: 10px;
}

footer{
    background-color: #f50a0a;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav li{
    border: 2px solid #eeff00;
    background-color: #0a9cf5;
    list-style-type: None;
}

nav li a{
    color: #FFFFFF;
    text-align: center;
    text-decoration: None;
}

table{
    font-family: Verdana,monospace;
    border-collapse: collapse;
    border: 3px #000000 solid;
}

table td, table th{
    border: 2px solid #F0F0F0;
}

table tr:nth-child(even){
    background-color: #F2F2F2;
}

table tr:hover{
    background-color: #b7c1de;
    border: 3px #000000 solid;
}

table th {
    background-color: #0a9cf5;
    color: #FFFFFF;
}

.active {
    background-color: #003062;
}

.column1{
    width: 75%; 
    float: left;
}

.column2{
    width: 25%; 
    float: left;
}