/* Generic CSS */
body{
    background-color: #31181E;
    font-family: 'Oswald';
    margin: 0;
    margin-bottom: 50px;
}

header{
    top: 0;
    background-color: #5d1309;
    padding: 16px;
    margin: 0px 15px 0px 15px;
}

h1, h2, h3, h4, h5, h6, p, a, label, input, tr{
    color: #FFFFFF;
}

h1{
    font-size: 36pt;
}

h3 {
    font-size: 24pt;
}

h5 {
    font-size: 18pt;
}

p {
    font-size: 14pt
}

main{
    background-color: #5d1309;
    padding: 10px;
    overflow: hidden;
    margin: 0px 15px 0px 15px;
}

aside{
    background-color: #5d1309;
    padding: 10px;
    margin: 15px;
}

nav{
    background-color: #5d1309;
    margin: 0px 15px 0px 15px;
}

footer{
    background-color: #5d1309;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

footer p{
    margin: 5px 0px 5px 0px;
}

/* Navigation Bar */
nav li{
    border: solid 3px #5d1309;
    background-color: #5d1309;
    list-style-type: None;
    float: left;
    width: 14%;
    padding: 18px;
    margin-right: 2px;
}

nav li a{
    text-decoration: None;
}

nav ul{
    margin: 0;
    padding: 0;
    height: 66px;
    overflow:visible;
    background-color: #5d1309;
}

/* Event Table */
table{
    border-collapse: collapse;
}

table td, table th{
    width: 225px;
    border: 3px solid #a2372f;
    text-align: center;
}

table tr:nth-child(even){
    background-color: #31181E;
}

table tr:hover{
    background-color: #dd594e;
    color: #000000;
}

table th {
    background-color: #a2372f;
    color: #FFFFFF;
}

.week{
    width: 50px;
}

/* Contact Us Form */
fieldset {
    width: 80%;
}

/* Navigation Bar */
.active {
    border: solid 3px #7ddde8;
    background-color: #a2372f;
}

/* News Articles */
.news-summary {
    width: 80%;
    float: left;
    padding-left: 40px;
    overflow: hidden;
    display: -webkit-box; -webkit-line-clamp: 8; -webkit-box-orient: vertical;
    word-wrap: break-word;
    text-overflow: ellipsis;
    height: 200px;
    margin-bottom: 30px;
}

.news-summary h5{
    margin: 18px 0px 18px 0px;
}

#latestNews{
    margin: 18px 10px 18px 10px;
}

/* Index Carousel */
.carousel-item {
    height: 800px;
    border: solid #7ddde8 3px;
    background-color: #31181E;
}

.carousel-item img{
    object-fit:cover;
    height:100%;
}

.carousel-caption {
    background-color: rgba(204, 81, 71, 0.8);
    border-radius: 25px;
}

.carousel-caption p{
    font-weight: bold;
}

.btn-primary {
    background-color: #5D1309;
}

/* Image Gallery */
.gallery-img{
    width: 100%;
    border: solid #5D1309 4px;
}

#img-gallery{
    padding-top: 10px;
}

#img-gallery .row {
    margin-bottom: 10px;
}

/* login */
#login {
    float: right;
    height: 36pt;
}

/* Logo and Title */
#logo {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    float: left;
}

#title {
    display: inline;
}

/* Contact Us Formatting */
#left-col{
    float: left;
    overflow: hidden;
    width: 75%;
    border-radius: 0;
}

#right-col{
    float: left;
    overflow: hidden;
    width: 20%;
    border-radius: 0;
}

/* News Article Formatting */
#column-box {
    margin: 3%;
    padding: 10px;
}

#column-box img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    float: left;
}

/* Article Formatting */

#article{
    padding: 10px;
    width: 100%;
}

#article-image{
    object-fit: cover;
    width: 400px;
    height: 400px;
    float: right;
    padding-bottom: 15px;
    padding-left: 15px;
}

#article-title{
    float: left;
}

#article-body{
    float: left;
}

.btn:hover {
    background-color: #a2372f;
}

#bookHeader{
    margin-bottom: 40px;
}

.book-container{
    float: left;
    align-content: center;
    width: 30%;
}

.book-container img{
    width: 80%;
}