body{
    background-color: #b7c1de;
}

header{
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: Verdana,monospace;
    color: #000000;
}

h1{
    font-size: 36pt;
}

h3 {
    font-size: 24pt;
}

p {
    font-size: 12pt
}

main{
    background-color: #FFFFFF;
    padding: 10px;
    overflow: hidden;
}

aside{
    background-color: #FFFFFF;
    padding: 10px;
}

nav{
    padding: 10px;
}

footer{
    background-color: #0a9cf5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav li{
    border: 2px solid #003062;
    background-color: #0a9cf5;
    list-style-type: None;
    float: left;
    width: 16%;
    padding: 16px;
}

nav li a{
    color: #FFFFFF;
    text-decoration: None;
}

nav li :hover{
    background-color: #000000;
}

nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003062;
}

table{
    font-family: Verdana,monospace;
    border-collapse: collapse;
}

table td, table th{
    border: 2px solid #F0F0F0;
}

table tr:nth-child(even){
    background-color: #F2F2F2;
}

table tr:hover{
    background-color: #b7c1de;
}

table th {
    background-color: #0a9cf5;
    color: #FFFFFF;
}

fieldset {
    width: 80%;
}

.active {
    background-color: #003062;
}

#logo {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

#title {
    display: inline;
}

#left-col{
    float: left;
    overflow: hidden;
    width: 75%;
    border-radius: 0;
}

#right-col{
    float: left;
    overflow: hidden;
    width: 20%;
    border-radius: 0;
}